  
name: Commitlint
on:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          fetch-depth: 0
        name: checkout
      - uses: wagoid/commitlint-github-action@v6
        with:
          configFile: ./.commitlintrc.mjs
        name: commitlint
